body{
    padding-top: 20px;
    background-color: #FFF5E4;
}


h1{
    text-align: center;
    font-family: impact;
    font-size: 80px;
    color: #FF6464;
    -webkit-text-stroke: 1px #FF7D7D ;
}


#tabla{
    background-color: beige;
}

#tablamulti{
    text-align: center;
}
